/* USER VARIABLES SECTION */

:root {
	--text: #41603e;
	--regular-text: 16px;
	--userfont: gotham-pro, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--index: calc(1vw + 1vh);
}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/GothamPro.woff2") format("woff2"); font-family: "gotham-pro"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/GothamPro-Italic.woff2") format("woff2"); font-family: "gotham-pro"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/GothamPro-MediumItalic.woff2") format("woff2"); font-family: "gotham-pro"; font-weight: 700; font-style: italic; }
@font-face { src: url("../fonts/GothamPro-Bold.woff2") format("woff2"); font-family: "gotham-pro"; font-weight: 800; font-style: normal; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #333;
	margin: 0;
}

/* USER STYLES */

.main-content {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

.left-block {
	position: relative;
	display: inline-block;
	width: calc(var(--index) * 20);
	height: 100vh;
	background-color: #fff;
}

.v-line {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--index) * 1);
	height: 100%;
	background: linear-gradient(#d9c272, #ae8e46);
}

.text-block p {
	padding-top: calc(var(--index) * 0.5);
	padding-left: calc(var(--index) * 1.7);
	padding-right: calc(var(--index) * 1.2);
	font-size: calc(var(--index) * 0.7);
	color: var(--text);
}

.title {
	padding-top: calc(var(--index) * 2.5) !important;
	font-size: calc(var(--index) * 0.7);
	font-weight: 700;
	font-style: italic;
	color: var(--text);
}

.right-block {
	display: inline-block;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.gifts-group {
	position: absolute;
	display: inline;
	width: calc(var(--index) * 28);
	top: calc(var(--index) * 4);

}

.gift-item {
	display: inline-block;
	position: relative;
	width: calc(var(--index) * 7.4);
	height: calc(var(--index) * 6.3);
	margin-left: calc(var(--index) * 3);
	margin-top: 40px;
	margin-bottom: calc(var(--index) * 4);
	text-align: center;
	transition: all 0.3s linear;
}

.inside-bg {
	position: absolute;
	width: calc(var(--index) * 8.1);
	height: calc(var(--index) * 8.5);
	left: calc(var(--index) * -0.35);
	top: calc(var(--index) * -2.2);
	background-image: url(../images/gift2.png);
	background-position: center;
	background-size: cover;
}

.icon {
	position: absolute;
	width: calc(var(--index) * 4.2);
	height: calc(var(--index) * 4.5);
	left: 0;
	right: 0;
	bottom: calc(var(--index) * 0.7);
	margin: 0 auto;
	z-index: 5;
}

.icon img {
	width: 100%;
	height: 100%;
}

.card-icon {
	position: absolute;
	width: calc(var(--index) * 1.28);
	height: calc(var(--index) * 1.2);
	background-image: url(../images/card.png);
	background-size: cover;
	left: calc(var(--index) * 0.5);
	top: calc(var(--index) * 0.5);
	z-index: 5;
}

.gift-item h3 {
	position: absolute;
	bottom: calc(var(--index) * -1.2);
	text-transform: uppercase;
	color: #fff;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-weight: 800;
	font-size: calc(var(--index) * 0.7);
}

.twoline {
	bottom: calc(var(--index) * -1.9) !important;
}

.owl-block {
	position: absolute;
	width: calc(var(--index) * 15);
	height: calc(var(--index) * 18);
	background-image: url(../images/sova.png);
	background-repeat: no-repeat;
	background-size: cover;
	right: 40px;
	bottom: 20px;
}

.gift-item:hover{
	box-shadow: 0 0 55px #008529;
}


.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}